html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End reset styles */

/* main container style */
.main {
  margin-left: 300px;
  display: flex;
  flex-direction: row;
  width: 200px;
  flex-wrap: wrap;
}

.main span {
  position: absolute;
  z-index: -1;
  font-size: 1.5em;
  top: 25%;
  left: 28%;
}
.box {
  width: 100px;
  height: 100px;
}

/* styles for boxes */
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

/* hover effect for individual boxes */

.main:hover .blue {
  transform: rotate(-90deg);
  transform-origin: bottom left;
  transition-duration: 2s;
  transition-timing-function: ease;
}
.main:hover .yellow {
  transform: rotate(-90deg);
  transform-origin: top right;
  transition-duration: 2s;
  transition-timing-function: ease;
}
.main:hover .green {
  transform: rotate(90deg);
  transform-origin: bottom right;
  transition-duration: 2s;
  transition-timing-function: ease;
}
.main:hover .red {
  transform: rotate(90deg);
  transform-origin: top left;
  transition-duration: 2s;
  transition-timing-function: ease;
}
