@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

html {
  font-family: "Nunito", sans-serif;
}
header {
  display: flex;
  padding: 4px 10px 4px 10px;
  background-color: white;
}
header .brand {
  margin-left: 100px;
  margin-top: 8px;
  font-size: 1.4em;
  font-weight: 700;
}
.main {
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
}
.banner {
  display: flex;
  justify-content: center;
}
.banner h1 {
  font-size: 2.6em;
  font-weight: 400;
  margin-top: 40px;
  margin-right: 120px;
}
.banner img {
  width: 20%;
  height: 20%;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.card {
}
